.wrapper {
  display: flex;
}
.h3 {
  color: rgb(118, 118, 235);
}
/* Override Bootstrap styles for the table */
#dataTable_wrapper {
  padding: 20px;
}

#dataTable_length label {
  margin-bottom: 0;
}

.table thead th {
  background-color: #f8f9fc;
  color: #6c757d;
  border-bottom: 2px solid #dee2e6;
}

.table th,
.table td {
  padding: 10px;
  color: #6c757d;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-hover tbody tr:hover {
  background-color: #e2e6ea;
}

.card {
  border: none;
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.btn-sm {
  padding: 6px 12px;
  font-size: 0.875rem;
}
/* Search input style */
.input-group {
  width: 250px;
  margin-bottom: 20px;
}

.input-group input[type="text"] {
  border-radius: 0;
}

.input-group button {
  border-radius: 0;
}

.table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-hover tbody tr:hover {
  background-color: #e2e6ea;
}

/* Action buttons style */

.btn i {
  margin-right: 0.1rem;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.delete-product {
  color: red;
}

.edit-product {
  color: blue;
}

/* Custom CSS for table borders */
table.table-bordered tbody tr {
  border-bottom: 1px solid #dee2e6; /* Add bottom border between rows */
}

.modelBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* higher z-index than modals */
}

/* Images Model */
.ng-Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.ng-Modal-header {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.ng-Modal-body {
  max-height: 75vh;
  overflow-y: auto;
  padding: 20px;
}

.ng-Modal-footer {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

#editmodel {
  width: 60%;
  left: 55%;
}

.hide {
  display: none;
}
