* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container-fluid{
  background-color:#F4F1FF ;
}
/* Add this CSS to your stylesheet */
/* ========================================== */
.carousel_img{
  width: 100%;
  object-fit: fill;
  height: 550px;
}


/* ============================ */
.carusel_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: none;
  position: relative;
}

.data {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px ;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #7C5ED8;
}

.data > .offer {
  background-color: #7C5ED8;
  padding: 4px;
  letter-spacing: 3px;
  font-weight: 500;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 50%, calc(100% - 30px) 100%, 0 100%, 30px 50%);
}





.saless{
  /* width: max-content; */
  flex-direction: column;
  /* display: flex; */
  /* gap: 15px; */
  font-size: 55px ;
  padding: 20px 0px;
  font-weight: 700;
  color: white;
  letter-spacing: 5px;

}

.color{
  color: #7C5ED8;
  animation-name: sale-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.color2{
  color: white;
  animation-name: sale-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* 
.sale {
  font-size: 54px;
  padding: 10px 0px;
  
} */

.animated-text {
  animation-name: sale-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 50px;
  color: #7C5ED8;
  font-weight: 700;
}

@keyframes sale-animation {
  0% {
    font-weight: 500;
  }
  20% {
    font-weight: 500;
  }
  40% {
    font-weight: 600;
  }
  60% {
    font-weight: 900;
  }
  80% {
    font-weight: 600;
  }
  100% {
    font-weight: 500;
  }
}

.moredata{
  color: white;
  /* margin: 0px auto; */
  font-weight: 500;
}




.carusel_btn {
  border: solid white 2px;
  background-color:  transparent;
  font-weight: 500;
  transition: 0.5s;
  margin: 0px auto;
  font-size: 16px;
  color: white;
}

.carusel_btn:hover {
  background-color: #5c3dc3;
  font-weight: 500;

}



.carouserl_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouserl_img img {
  height: 400px;
  object-fit: contain;
}

/* ================================= */
.mostsells_container {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 30px 0px;
  background-color: #F4F1FF;
}

.mostsells {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 15px;
  width: 49%;
  position: relative;
  overflow: hidden;

}

.product_data{
  position: relative;
  z-index: 2;
  
}

.shap{
  border-radius:0% 100% 100% 0% / 100% 0% 100% 0%    ;
  position: absolute;
  width: 50%  ;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient( 180deg ,#E4BBE5,#C676CA,#9B11A3,#8931B0,#5D74C9,#1ED1ED );
}

.shap2{
  position: absolute;
  top: 0;
  right:10%;
  display: flex;
  gap: 30px;
  
}

.shap2_1{
  height: 180px;
  width: 30px;
  background: linear-gradient(to bottom ,#E4BBE5,#C676CA,#9B11A3,#8931B0,#5D74C9,#1ED1ED );
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  
}

.shap2_2{
  height: 230px;
  width: 30px;
  background: linear-gradient(to bottom ,#E4BBE5,#C676CA,#9B11A3,#8931B0,#5D74C9,#1ED1ED );
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.shap2_3{
  height: 180px;
  width: 30px;
  background: linear-gradient(to bottom ,#E4BBE5,#C676CA,#9B11A3,#8931B0,#5D74C9,#1ED1ED );
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.product_img {
  width: 30%;
}

.product_img img {
  width: 100%;
  transform: scale(1);
  transition: 0.7s;
  cursor: pointer;
}

.product_img img:hover {
  transform: scale(1.1);
}

.carusel_bt{
  background-color:#5C3DC3 ;
  color: white;
  border-radius: 5px;
}

.Launch_offer{
  color: #c636b5;
}


/* ================================ */

.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #F4F1FF;
  /* margin: 10px 0px; */
  border-radius: 12px;
}
.brand_names p {
  color: gray;
}

.brand_imgs_container {
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.brands_imgs {
  width: 15%;
}

.brands_imgs img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  transform: scale(1);
  transition: .5s;
  
}

.brands_imgs img:hover{

  transform: scale(1.15);
   cursor: pointer;

}



/* ======================= */
.some_offers {
  padding: 20px ;
  background-color: #F4F1FF;
}

.best_product_container {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  /* padding: 20px 0px; */
}

.offer_card{
  width: 24%;
  cursor: pointer;
}

.some_offersh {
  color: #B34BE1;
  font-size: 30px;
  letter-spacing: 6px;
  /* border: solid red; */
}

.card img {
  transform: scale(1);
  transition: 0.7s;
  height: 100px;
  object-fit: contain;
  width: 100%;

}

.card img:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.rating{
  color: #FFD869;
  font-size: 20px;
}

.carusel_Btnss{
border: dashed  #e6e2f5 ;  
background-color: transparent;
}

.carusel_Btnss:hover{
  background-color: #EEEBF9;
  }


.carusel_Btnss span{
  color: #5C3DC3;
  margin: 0px auto;
  }
  


/* ======================================== */
.services_container {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
  /* gap: 7px ; */
  background-color: #F4F1FF;

}

.service{
  /* height: 100%; */
  width: 24%;
}

.icon_color1 {
  color: #00be82;
}

.icon_color2 {
  color: #ff3c78;
}

.icon_color3 {
  color: #fea16f;
}

.icon_color4 {
  color: #a855f7;
}

/* ============================================== */
/* media Quary */


@media (width < 1000px) {
  .best_product_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
  }

  .services_container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 10px ;
  }

  
  .offer_card{
    width: 30%;
  }

  .service{
    width: 40%;
  }
  
  .mostsells_container {
    gap: 15px;
    display: flex;
    justify-content: center;
  }

  .mostsells {
    width: 95%;
  
  }
  .saless{
    font-size: 50px ;
  }
  
  .saless span{
    font-size: 40px;
    font-weight: 500;
  }

}

@media (width<800px) {
  .offer_card{
    width: 40%;
  }

  .service{
    width: 80%;
  }
  
  .some_offersh{
    display: flex;
    justify-content: center;
  }
  
  .saless{
    font-size: 40px ;
  }
  
  .saless span{
    font-size: 35px;
    font-weight: 500;
  }
}


@media (width<600px) {
  .offer_card{
    width: 80%;
  }

  

  
}
/* Add this CSS to your stylesheet Animation */

@keyframes cardHover {
  0% {
    transform: scale(1);
    font-weight: 500;
  }
  50% {
    transform: scale(1.01);
    font-weight: 900;

  }
  100% {
    transform: scale(1);
    font-weight: 500;

  }
}

/* Apply the animation to the offer_card class */
.mostsells , .some_offersh {
  animation: cardHover 1.5s infinite;
}


/* animations for offer_card */
/* Define a keyframe animation */
/* Define a keyframe animation */
@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, 5px); }
  75% { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
}

.offer_card {
  /* Other styles for your card */
  transition: transform 0.2s ease; /* Add smooth transition */
}

/* Apply the animation on hover */
.offer_card:hover {
  animation: shake 1s ease-in-out infinite;
}
