* {
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box ;
  text-decoration: none;
}

.active_link{
  color: #AE4EE8;
}
/* =================================================== */

.firest_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 13px;
  background-color: #FFFFFF;
}

.Companyandsearch {
  display: flex;
  align-items: center;
  /* border: solid; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.searchbar{
  border-radius: 8px;
  color: #7C5ED8 ;
  border: solid  1px #7C5ED8;
}

.search{

  border-radius: 8px;
  color: #7C5ED8 ;
  border: none;
}


.firest_nav .row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.user_options {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
}

.fa-search {
  border: solid;
  border-radius: 4px;
  padding: 7px;
  font-size: 20px;

}

.user_img,
.payment,
.faverot {
  display: flex;
  justify-content: center;

}

.payment{
  position: relative;
}

.payment p{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* padding: 10px ; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  right:5%;
  font-weight: 200;
  background-color:#7C5ED8 ;
  font-size: 11px;
  color:white;
  padding: 5px ;
}

.user_img {
  width: 40px ;
  cursor: pointer;
  border: solid #7C5ED8 3.5px;
  border-radius: 50%;
}

.payment,
.faverot {
  width: fit-content;
  border-radius: 50%;
  cursor: pointer;
  padding: 7px;
  
}

.user_img img {
  width: 100%;
}

.payment i {
  color: gray;
  font-size: 22px;
  color: #7C5ED8;
}
.faverot i {
  color: #7C5ED8;
  font-size: 22px;
}

.nav_btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin: 10px 0px ; */
}
.nav_btns button {
  text-align: start;
  padding: 10px;
}

/* ==================================================== */
/* ================================ */

@media (width<1000px) {
  .navbar_data {
    /* direction: rtl; */
    display: flex;
    justify-content: space-evenly;
  }
}

@media (width<600px) {
  .navbar_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* direction: rtl; */
  }
}
