<app-second-header></app-second-header>

<app-firestnav></app-firestnav>
<div class="container-fluid mx-auto">
  <div class="row allproduct_container mx-auto py-4 px-3">
    <div class="col-10 col-xxl-3 col-xl-3 col-md-4 catogury">
      <div dir="rtl" class="Categories_items py-3">
        <div class="type">
          <h4 class="p-2 search_type d-flex justify-content-end">
            Filter by Categories
          </h4>

          <div class="item_name">
            <p class="m-0">All Products</p>
            <input type="radio" name="category" (change)="onCategoryChange('All Products')" />
          </div>

          <ng-container>
            @if (category && category.length) {

            @for (cat of category; track $index) {
            <div class="item_name">
              <p class="m-0">{{ cat }}</p>
              <input type="radio" name="category" (change)="onCategoryChange(cat)" />
            </div>
            }

            }

          </ng-container>



        </div>

        <div class="Rate">
          <h4 class="p-3 search_type d-flex justify-content-end">
            Filter by Price
          </h4>
          <div class="card">
            <input type="text" pInputText [(ngModel)]="rangeValues" [readOnly]="true" class="w-75 d-flex mx-auto" />
            <p-slider [(ngModel)]="rangeValues" class="p-4" [max]="500" [range]="true"></p-slider>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xxl-9 col-xl-9 col-md-8 col-10">
      <div class="row allproduct">
        @for(product of allproducts; track $index){
        <div class="product_data my-3">
          <div class="product_img">
            <img
              class="w-100 p-3"
              src="/assets/{{ product.images[0] }}"
              alt=""
              (click)="redirect(product?._id)"
            />
            <!-- <img src="../../../assets/northfolk-vTi5S_vtc9U-unsplash.jpg" alt=""> -->
          </div>

          <div class="product_price p-1">


            <div class="product_data_card">
              <div class="data1">
                <h2 class="m-0">{{ product?.name }}</h2>
                <h4 class="m-0">{{ product?.category?.name }}</h4>
                <div class="rate_product">
                  <ngb-rating [(rate)]="rating" [max]="5" [readonly]="true" />

                </div>

              </div>

              <div class="data2">
                <h1 class="m-0">${{ product?.price }}</h1>
              </div>

            </div>




            <div class="add_fav_btn Btns   ">

              <div class="card w-75">
                <p-toast></p-toast>
                <button type="button" pButton (click)="  show() ; addToCart(product?._id)" label="" class="btn1">Add to
                  Cart</button>

              </div>

              <div class="card w-25">
                <p-toast></p-toast>
                <button type="button" pButton (click)="toggleHeart(product?._id)" (click)="addToCart(product?._id)"
                  label="" class="fav_btn btn2"><i class="fa-solid fa-heart hearts "
                    [class.hideen]="!heartToggled[product?._id]"></i></button>

              </div>





            </div>

          </div>



        </div>


        }

      </div>



    </div>



  </div>
</div>

<app-footer></app-footer>