@import url("https://fonts.cdnfonts.com/css/adlam-display");
@import url("https://fonts.cdnfonts.com/css/noto-sans-ol-chiki");
@import url("https://fonts.cdnfonts.com/css/blueberry");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.allproduct_container {
  display: flex;
  align-items: start;
  background-color: #fffbeb;
  /* height: 100vh; */
  /* height: 100%; */
}

.allproduct {
  display: flex;
  justify-content: space-evenly;
}

.product_name {
  overflow: hidden;
  font-size: 13px;
  font-weight: 600;
}

/* ===================================== */

.Btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0px;
  align-items: center;
}

.Btns button {
  display: flex;
  justify-content: center;
  border: none;
  font-size: 16px;
}

.btn1 {
  background-color: #f59e0b;
  color: #451a03 !important;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px 0px;
}

.btn1:hover {
  background-color: #d97706;
}

.btn2 {
  color: white !important;
  font-weight: 300;
  border-radius: 3px;
  padding: 10px 0px;
  border: solid 0.5px #d97706 !important;
  background-color: transparent;
}

.fav_btn {
  color: red !important;
}

.hideen {
  color: rgb(226, 220, 220) !important ;
}

/* ================================================== */
.product_img {
  position: relative;
  width: 100%;
}

.product_img img {
  height: 250px;
  object-fit: fill;
  background-color: white;
  cursor: pointer;
  width: 100% !important;
}

.product_data {
  border-radius: 5px;
  width: 27%;
  overflow: hidden;
}

.product_data_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  padding: 0px 10px;
}
.data2 {
  width: 40%;
  display: flex;
  justify-content: end;
  padding: 0px 10px;
}

.product_price {
  background-color: #ffffff;
}

.rate_product {
  color: #ffd869;
  font-size: 30px;
}

.font3 {
  font-family: "ADLaM Display", sans-serif;
  color: #451a03;
  font-size: 1.3em;
}

/* .font4 {
  font-family: "ADLaM Display", sans-serif;
  font-size: 1.2em;
  color: #7c2d12;
} */
.animated-text {
  background: linear-gradient(
    50deg,
    rgba(252, 211, 77, 1) 0%,
    rgba(251, 191, 36, 1) 25%,
    rgba(245, 158, 11, 1) 50%,
    rgba(217, 119, 6, 1) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animateGradient 2s linear infinite;
  font-size: 1.1em;
  font-weight: bold;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.font5 {
  font-size: 1.1em;
  color: #92400e;
}

.modal-title {
  display: flex;
  margin: auto;
  font-size: 25px;
  padding: 10px 0px;
}
.modal-header button {
  border: solid;
  display: flex;
  padding: 10px;
}
/* ============================== */

.Rate .card {
  display: flex;
  border: none;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  text-align: center;
}

/* =============================================================== */

.sidebar {
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  background-color: #fef3c7;
  height: 100vh;
  padding-top: 1.5em;
}

.item_name {
  transition: 0.7s;
  cursor: pointer;
  padding: 0.5em 1em;
  border-bottom: solid 0.5px rgb(212, 204, 204);
}

.item_name:hover {
  background-color: #f59e0b;
  color: white;
}

.item_name p {
  /* border: solid; */
  width: 100%;
  padding: 15px;
}

.selected-item {
  background-color: #7c5cd3;
  color: white;
}

/* ======================================================== */
/* media quary */
@media (width < 1000px) {
  .product_data {
    width: 45%;
  }
}

@media (width<800px) {
  .product_data {
    width: 70%;
  }

  .product_header {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
  }
}

@media (width<600px) {
  .product_data {
    width: 90%;
  }
}
/* ===========animatio========================== */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product_data {
  animation: fadeInOut 0.5s ease-out;
}

/* ===================================== */

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.add_fav_btn .card button {
  transition: transform 0.3s ease;
}

.add_fav_btn .card button:hover {
  animation: buttonAnimation 0.5s ease;
}
