  
<app-second-header></app-second-header>
<app-firestnav></app-firestnav>
<div  class="container-fluid  mx-auto">

  <div class="row allproduct_container mx-auto py-4 px-3 ">


    <div class="col-10 col-xxl-3 col-xl-3 col-md-4 catogury ">

      <div dir="rtl" class="Categories_items py-3">


        
      <div class="type">
        
        <h4 class="p-2 search_type d-flex justify-content-end">
         Filter by Categories
        </h4>
  

        @for (item of category; track $index) {

          <div class="item_name">
            <p class="m-0">{{ item }}</p>
            <input  type="checkbox">
          </div>

        }
        

 
      </div>

      <div class="Rate" >
        
        <h4 class="p-3 search_type  d-flex justify-content-end">
        Filter by Price
        </h4>
        <div class="card">
          <input type="text" pInputText [(ngModel)]="rangeValues" [readOnly]="true" class="w-75 d-flex mx-auto "/>
          <p-slider [(ngModel)]="rangeValues" class="p-4 " [max]="500" [range]="true"></p-slider>
      </div>

        

      </div>


    </div>


  </div>



    <div class="col-xxl-9 col-xl-9 col-md-8 col-10">

      <div class="row allproduct ">
        

        @for(product of allproducts; track  $index){
          <div class="product_data   my-3">
            <div class="product_img">
              <img
                class="w-100 p-3"
                src="{{ product.thumbnail }}"
                alt=""
                (click)="redirect(product?.id)"
              />      

              <button type="button"  class="btn fav  carusel_Btnss  d-flex w-25 py-2 ">
                <!-- <span><i class="fas fa-heart"></i></span>  -->
              </button>


            </div>
      
            <div class="product_price  p-2  text-center">
              <button type="button" class="btn btn-outline-secondary p-1 my-2 ">{{ product?.category }}</button>
              <p class="product_name" style="color: #6474A9;">{{ product?.title }}</p>
              <div class="rate_product">
                <ngb-rating [(rate)]="product.rating" [max]="5"></ngb-rating>

              </div>
              <h2 style="font-weight: 600;" class="my-2">${{ product.price }}</h2>
              <div class="Btns d-flex gap-3 my-2">
                

                <div class="add_fav_btn ">

                         <div class="card">
                                    <p-toast></p-toast>
                                    <button type="button" pButton (click)="redirecttocart(product)" (click)="increase()"  (click)="show2()" label="" class="fav_btn"><i class="fa-solid fa-heart"></i></button>
                               
                                  </div>
                  
                                  <div class="card">
                                    <p-toast></p-toast>
                                    <button type="button" pButton (click)="redirecttocart(product)" (click)="increase()"  (click)="show()" label="+" class=""></button>
                               
                                  </div>

                      

                </div>


                

                
 
              
                
              </div>
              

           
            </div>

            
          </div>
        }

                
    

    
    

        
    
        
    
    
    
      </div>
      
    </div>



</div>

</div>

<app-footer></app-footer>