*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid{
  background-color: #F4F1FF;

}
.allproduct_container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  /* background-color: #eef0fc; */
  /* gap: 2px; */
}

.allproduct {
  display: flex;
  justify-content: space-around;
  
}

.product_name{
  overflow: hidden;
  font-size: 13px;
  font-weight: 600;
}

/* ===================================== */


.Btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0px;
  align-items: center;
}

    .Btns button{
      display: flex;
      justify-content: center;
      border: none;
      font-size: 16px ; 
    }
    
    .btn1{
      background-color: #7C5ED8;
      color: white !important;
      font-weight: 400;
      border-radius: 5px;
      padding: 10px 0px;
       
    }

    .btn2{
      color: white !important;
      font-weight: 300;
      border-radius: 5px;
      padding: 10px 0px;
      border: none;
      background-color: transparent;
    }


.fav_btn{
  color: red !important;

}
.hideen {
  color: rgb(226, 220, 220) !important ;

}





/* ================================================== */
.product_img{
  position: relative;
  width: 100%;

}




.product_img img {
  height: 250px;
  object-fit: fill;
  background-color: white;
  cursor: pointer;
  width: 100% !important;
  
}

.product_data {
  border-radius: 6px;
  width: 30% ;
  overflow: hidden;
}

.product_data_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data1{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  padding: 0px 10px;
}
.data2{
  width: 40%;
  display: flex;
  justify-content: end;
  padding: 0px 10px;

}

.product_price{
  background-color: #FFFFFF;
}

.rate_product{
  color:#FFD869 ;
  font-size: 20px;
}





      .modal-title{
        display: flex;
        margin: auto;        
        font-size: 25px;
        padding: 10px 0px;
      }
      .modal-header button{
        border: solid ;
        display: flex;
        padding: 10px;
        
      }
    /* ============================== */

    .Rate .card {
      display: flex;
      border: none;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      text-align: center;
    }


    /* =============================================================== */

    .sidebar{
      border: double  #7C5CD3;
      border-radius: 10px;
      overflow: hidden;
      height: 100%;
      font-size: 16px;
      font-weight: 500;
      
  }

  .item_name{
    transition: .7s;
    cursor: pointer;
    padding: 0;
  }

  .item_name:hover {
    background-color: #7C5CD3;
    color: white;
  }

  .item_name p {
    /* border: solid; */
    width: 100%;
    padding: 15px;
  }

  .selected-item{
    background-color: #7C5CD3;
    color: white;  
  }

  
  
  

/* ======================================================== */
/* media quary */
@media (width < 1000px) {
  .product_data {
    width: 45%;
  }
}

@media (width<800px) {
  .product_data {
    width: 70%;
  }

  .product_header {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
  }
}

@media (width<600px) {
  .product_data {
    width: 90%;
  }
}
/* ===========animatio========================== */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product_data {
  animation: fadeInOut 0.5s ease-out;
}


/* ===================================== */

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.add_fav_btn .card button {
  transition: transform 0.3s ease;
}

.add_fav_btn .card button:hover {
  animation: buttonAnimation 0.5s ease;
}