<div dir="ltr" class="container-fluid big_container px-4">
  <div class="row product_details_container ">
    <h3 class="m-0 title">Title</h3>
    <hr>
    <div class="col-xxl-6 col-xl-5 my-5 col-10 gallary">

      <div class="row gallary_container py-4">
        <div class="col-12 main_img">
          <img class="" [src]="main_img" alt="ss" />
        </div>

        <div class="col-12 gallary_images p-2 d-flex gap-3">
          @for (item of product_details?.images; track $index) {

          <div class="img1">
            <img
              [class]="item"
              [src]="item"
              [alt]="item"
              (click)="reternsrc(item)"
            />
          </div>

          }
        </div>
      </div>


    </div>

    <div class="col-xxl-5 col-xl-5 col-10 product_details">
      <div class="card text-bg-dark">
        <div class="card-body py-3">
          <h1>
            {{ product_details?.title }}
          </h1>
          <h2 class="card-title details ">Category: {{ product_details?.category }}</h2>
          <div class="product_price " >
            <h2 class="card-title my-0 new_price">${{ (product_details?.price - (product_details?.price * (product_details?.discountPercentage /100.))).toFixed(2)}}</h2>
            <h2 class="old_price ">${{ product_details?.price }}</h2>
            <h2 class="percentage">{{ product_details?.discountPercentage }}%off</h2>
          </div>


          <div class="rate_product">
            <ngb-rating
              [readonly]="true"
              [(rate)]="product_details.rating"
              [max]="5"
            ></ngb-rating>
            <h5 class="m-0 rate">{{ product_details.rating }}</h5>
          </div>
          <h5 class="detal">Details:</h5>
          <p class="card-text">{{ product_details?.description }}</p>
        </div>

        <div class="Btns d-flex gap-5">
          <button type="button" class="btn py-1 px-4 carusel_bt btn-secondary">
            Buy Now
          </button>
          <button type="button" class="btn py-1 px-3 btn-danger">
            Back to home
          </button>
        </div>
      </div>
    </div>


  </div>

  <div class="w-100 my-3 product_descusion">
    <div class="card">
      <div class="flex mb-2 gap-2 justify-content-end">
        <p-button
          (click)="activeIndex = 0"
          rounded="true"
          styleClass="w-2rem h-2rem p-2"
          [outlined]="activeIndex !== 0"
          label="1"
        ></p-button>
        <p-button
          (click)="activeIndex = 1"
          rounded="true"
          styleClass="w-2rem h-2rem p-2"
          [outlined]="activeIndex !== 1"
          label="2"
        ></p-button>
      </div>



      <p-tabView [(activeIndex)]="activeIndex" class="treed_part">
        <p-tabPanel header="Description">
          <div class="row d-flex gap-5">
            <div class="col-12">
              <h1>Product descriptions</h1>
              {{ product_details?.description }}
            </div>

            <div class="col-12">
              <h1 style="font-weight: 500">Other User review</h1>

              <div class="review_container w-75">
                <div class="user_review">
                  <h4>User name</h4>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>

                <div class="user_review">
                  <h4>User name</h4>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>

                <div class="user_review">
                  <h4>User name</h4>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>

                <div class="user_review">
                  <h4>User name</h4>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>


        <p-tabPanel header="Ratings & reviews">

          <div class="row rating_bigcontainer">
            
            <div class="big_container_rate">
              <div class="product_rating">
                <h1 class="product_rate">{{ product_details.rating}}</h1>
                <h3>Overall Rating</h3>
    
                <div class="rate_product">
                  <ngb-rating
                    [readonly]="true"
                    [(rate)]="product_details.rating"
                    [max]="5"
                  ></ngb-rating>
                  <h4 class="m-0 rate">{{ product_details.rating }}</h4>
                </div>
    
    
              </div>
    
  
  
              <div class="progress_bar">
    
  
                <h3>5 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-warning text-dark" style="width: 100%;">100%</div>
                </div>
  
                
                <h3>4 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                </div>
  
  
                
                <h3>3 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  
                  <div class="progress-bar bg-warning text-dark" style="width: 50%">50%</div>
                </div>
  
                
                <h3>2 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  
                  <div class="progress-bar bg-warning text-dark" style="width: 25%">25%</div>
                </div>
  
  
                <h3>1 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
  
                  <div class="progress-bar bg-warning text-dark" style="width: 10%">10%</div>
                </div>
  
              </div>
            </div>

            <div class="sign_rate">
              <h1 class="my-3 thefirestreview">Be the first to review</h1>

              <div class="register_rate">

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">&#64;</span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="User email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <span class="input-group-text" id="basic-addon2">&#64;example.com</span>
                </div>


                <div class="mb-1">
                  <h2>Your rating *</h2>
                  <ngb-rating
                  class="register_rateing"
                    [max]="5"
                  ></ngb-rating>
                </div>
      

                
                <div class="input-group">
                  <span class="input-group-text">Leve your comment</span>
                  <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>

                <button type="button" class="btn py-2 px-4 mt-2 carusel_bt btn-secondary w-25">
                  Submit
                </button>


              </div>

            </div>
  
   
          </div>






        </p-tabPanel>
      </p-tabView>


    </div>
  </div>
</div>
