.big_container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 10px;
    
    }
    
    
    
    /* ========================================= */
    .active{
      background-color: #7C5ED8;
      color: white;
    }
    

    .row{
      display: flex;
      align-items: center;
      /* padding: 20p 0px ; */
      row-gap:30px ;
      text-align: center;
    }
    
    /* ==================================== */
    
    .sidebar{
      background-color: #F4F1FF;
      padding: 0px 7px;
      min-width: 6%;  
      margin: 20px 0px;
      border-bottom-right-radius:12px ;
      border-top-right-radius:12px ;
    
    
    }
    
    
    .sidebar_data{
      padding: 50px 0px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      
    }
    
    .sidebar_data h3{
      padding: 7px ;
      cursor: pointer;
      transition: .4s ease;
      display: flex;
      justify-content: center;
      border-radius: 7px;
    }
    
    .sidebar_data h3:hover{
      background-color: #7C5ED8;
      color: white;
    }
    
    
    
    
    .sidebar_text{
      display: flex;
      align-items: center;
      gap: 7px;
    }
    
    
    
    
    /* ======================================================================== */
   .product_data th{
    text-align: center;
    font-size: 22px;
   }

   .product_data td{
    border: solid #7C5ED8 ;
    text-align: center;
    font-weight: 600;
    background-color: #F4F1FF;
    font-size: 20px;
    
   }
    /* ==================================================== */
    

    
    /* =========media========================================== */
    
    @media (width<900px) {
    
      .sidebar{
        min-width: 10%;   
      }
      
    }