.wrapper {
  display: flex;
  height: 100vh;
}
.h3 {
  color: rgb(118, 118, 235);
}
/* Override Bootstrap styles for the table */
#dataTable_wrapper {
  padding: 20px;
}

#dataTable_length label {
  margin-bottom: 0;
}

.card {
  border: none;
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.btn-sm {
  padding: 6px 12px;
  font-size: 0.875rem;
}

/* Action buttons style */

.btn i {
  margin-right: 0.1rem;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.delete-product {
  color: red;
}

.edit-product {
  color: blue;
}

#editmodel {
  width: 60%;
  left: 55%;
}
