<app-second-header></app-second-header>
<app-firestnav></app-firestnav>

<div class="container-fluid">
  <div class="row">
      <div class="col-5 col-xxl-3 col-xl-2">
        <div class="sidebar">
          <div class="sidebar_data">
            <h3 class="sidebar_text" ><i class="fa-solid fa-user "></i> <span >User informations</span> </h3>
            <h3 class="sidebar_text" ><i class="fa-solid fa-house"></i> <span >Home</span> </h3>
            <h3 class="sidebar_text" ><i class="fa-brands fa-product-hunt"></i> <span >All product</span> </h3>
            <h3 class="sidebar_text" ><i class="fa-solid fa-cart-shopping"></i> <span >My order</span> </h3>
            <h3 class="sidebar_text" ><i class="fa-solid fa-heart"></i> <span >Wishlist</span> </h3>
            <h3 class="sidebar_text" ><i class="fa-solid fa-credit-card"></i> <span >Payment</span> </h3>


          </div>
        </div>
      </div>

      <div class="col-6 col-xxl-9 col-xl-10">
        <div class="profiledata">

          <div class="profile_data">
            <div class="user_img">
              <img src="../../../assets/icon-256x256-removebg-preview.png" alt="">
            </div>

            <div class="user_data">
                <div class="input">
                  <label for="name">Name</label>
                  <div class="input_filed">
                    <input type="text" id="name" >
                    <i class="fa-solid icon fa-pen-to-square"></i>
                  </div>
                </div>

                <div class="input">
                  <label for="email">Email Address</label>
                  <div class="input_filed">
                    <input type="text" id="email" >
                    <i class="fa-solid icon fa-pen-to-square"></i>
                  </div>

                  </div>


                <div class="input">
                  <label for="date">Date Of Birth</label>

                  <div class="input_filed">
                    <input type="text" id="date" >
                    <i class="fa-solid icon fa-pen-to-square"></i>
                  </div>               
               
               
                </div>


                <div class="input">
                  <label for="City">City</label>

                  <div class="input_filed">
                    <input type="text" id="City" >
                    <i class="fa-solid icon fa-pen-to-square"></i>
                  </div>                
                
                </div>

                <div class="input">
                  <label for="Mobile">Mobile phone</label>
                  <div class="input_filed">
                    <input type="text" id="Mobile" >
                    <i class="fa-solid icon fa-pen-to-square"></i>
                  </div>              
              
                </div>


            </div>



          </div>

        </div>
        
      </div>




  </div>



</div>

<app-footer></app-footer>