<app-second-header></app-second-header>
<app-firestnav></app-firestnav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xxl-2 col-xl-2 col-md-4">
      <div class="sidebar">
        <div class="sidebar_data">
          <h3
            [routerLink]="['/profile']"
            routerLinkActive="active"
            class="sidebar_text"
          >
            <i class="fa-solid fa-user"></i> <span>User Information</span>
          </h3>
          <h3
            href="#"
            [routerLink]="['/home']"
            routerLinkActive="active"
            class="sidebar_text"
          >
            <i class="fa-solid fa-house"></i> <span>Home</span>
          </h3>
          <h3
            href="#"
            [routerLink]="['/product']"
            routerLinkActive="active"
            class="sidebar_text"
          >
            <i class="fa-brands fa-product-hunt"></i> <span>All product</span>
          </h3>
          <h3
            href="#"
            [routerLink]="['/user-product']"
            routerLinkActive="active"
            class="sidebar_text"
          >
            <i class="fa-solid fa-cart-shopping"></i> <span>My order</span>
          </h3>
          <h3
            href="#"
            [routerLink]="['/a']"
            routerLinkActive="active"
            class="sidebar_text"
          >
            <i class="fa-solid fa-heart"></i> <span>Wishlist</span>
          </h3>
          <h3
            href="#"
            [routerLink]="['/cart']"
            routerLinkActive="active"
            class="sidebar_text"
          >
            <i class="fa-solid fa-credit-card"></i> <span>Payment</span>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-12 col-xxl-8 col-xl-10 col-md-7">
      <div class="profiledata">
        <div class="profile_data">
          <div class="user_img">
            @if (userdata?.profile_picture) {

              <img
              src="/assets/{{ userdata?.profile_picture }}"
              alt=""
            />

              
            }@else {
              <img
                src="../../../assets/icon-256x256-removebg-preview.png"
                alt=""
              />

            }
          </div>

          <div class="user_data">
            <div class="input">
              <label for="name">Name</label>
              <div class="input_filed">
                <input
                  type="text"
                  readonly="true"
                  value="{{ userdata?.name }}"
                  id="name"
                />
                <i class="fa-solid icon fa-pen-to-square"></i>
              </div>
            </div>

            <div class="input">
              <label for="email">Email Address</label>
              <div class="input_filed">
                <input
                  value="{{ userdata?.email }}"
                  type="text"
                  readonly="true"
                  id="email"
                />
                <i class="fa-solid icon fa-pen-to-square"></i>
              </div>
            </div>

            <div class="input">
              <label for="City">City</label>

              <div class="input_filed">
                <input
                  value="{{ userdata?.location }}"
                  type="text"
                  readonly="true"
                  id="City"
                />
                <i class="fa-solid icon fa-pen-to-square"></i>
              </div>
            </div>

            <div class="input">
              <label for="Mobile">Mobile phone</label>
              <div class="input_filed">
                <input
                  value="{{ userdata?.phone }}"
                  type="text"
                  readonly="true"
                  id="Mobile"
                />
                <i class="fa-solid icon fa-pen-to-square"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
