@import url("https://fonts.cdnfonts.com/css/adlam-display");
.active {
  background-color: var(--dark-color);
  color: white;
}
.body {
  background-color: #fffbeb;
}

.row {
  display: flex;
  /* align-items: center; */
  padding: 20px 0px;
  row-gap: 30px;
  background-color: var(--background-color);
}

/* ==================================== */

.sidebar {
  /* border: SOLID  green; */
  background-color: var(--main-color);
  padding: 0px 7px;
  /* box-shadow: 3px 3px 10px rgb(170, 162, 162); */
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  color: var(--text-color);
}

.sidebar_data {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar_data h3 {
  padding: 7px;
  cursor: pointer;
  transition: 0.4s ease;
}

.sidebar_data h3:hover {
  background-color: var(--dark-color);
  color: white;
}

.sidebar_text {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* ==================================== */

.profile_data {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 50px;
  background-color: var(--text-color);
  border-radius: 7px;

}

.user_img img {
  width: 100px;
  border-radius: 50%;
}

.user_data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.input_filed {
  position: relative;
  width: 100%;
}

.input input {
  width: 100%;
  padding: 10px 14px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.icon {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--accent-color);
}

label {
  font-family: "ADLaM Display", sans-serif;
  /* background: linear-gradient(
    50deg,
    rgba(252, 211, 77, 1) 0%,
    rgba(251, 191, 36, 1) 25%,
    rgba(245, 158, 11, 1) 50%,
    rgba(217, 119, 6, 1) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  display: flex;
  font-size: 20px;
  padding: 20px 10px;
  color:  var(--accent-color);
}
