.container-fluid{
    background-color: #F4F1FF;
}

.row{
    display: flex;
    align-items: center;
    padding: 20px 0px ;
}

/* ==================================== */

.sidebar{
    /* border: SOLID  green; */
    background-color: #F4F1FF;
    padding: 0px 7px;
    box-shadow: 3px 3px 15px rgb(170, 162, 162);

}


.sidebar_data{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar_data h3{
    padding: 7px ;
    cursor: pointer;
    transition: .4s ease;
}

.sidebar_data h3:hover{
background-color: #7C5ED8;
color: white;
}


.sidebar_text{
    display: flex;
    align-items: center;
    gap: 7px;
}



/* ==================================== */

.profile_data{
    display: flex;
    flex-direction: column;
    gap: 30px ;
    padding: 0px 50px ;
    
}

.user_img img{
    width: 100px;
}

.user_data{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    flex-direction: column;
}
.input_filed{
    position: relative;
    width: 60%;
}

.input input{
    width: 100%;
    padding: 10px 14px ;
    border: none;
    background-color: #F2F2F2;
    border-radius: 5px ;
}

.icon{
position: absolute;
right: 9px;
top: 50%;
transform: translate(0,-50%);

}