.sidebar {
  background-color: #eff6ff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  color: #172554;
  width: 6.5rem;
  height: 100%;
  transition: width 0.5s;
  font-weight: 600;
  font-size: 1.2em;
  opacity: 0.7;
  font-family: "Arial", sans-serif;
}

/* Hover effect for nav links */
.sidebar .nav-item .nav-link:hover {
  color: #1e40af;
  background-color: #bfdbfe;
}

/* Styles for the sidebar brand */
.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

/* Adjusting icon sizes and margins */
.sidebar .nav-item .nav-link i {
  font-size: 1.2rem; /* Larger icons */
  margin-right: 0.5rem; /* More space between icon and text */
}

/* Divider style */
.sidebar hr.sidebar-divider {
  border-top: 1px solid #dee2e6; /* Light grey divider */
}

/* Sidebar heading style */
.sidebar .sidebar-heading {
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.85rem;
}

/* Additional styles for better aesthetics */
.sidebar .nav-item {
  margin-bottom: 0.5rem; /* Space between nav items */
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem; /* Extra space for the last item */
}

.sidebar .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.85rem; /* Larger font size for text */
}

/* Hide brand icon rotation animation */
.sidebar .sidebar-brand-icon.rotate-n-15 {
  transform: none;
}

.hide {
  display: none;
}

/* Responsive styles */
@media (min-width: 768px) {
  .sidebar {
    width: 14rem;
  }

  .sidebar .nav-item .nav-link {
    text-align: left;
    padding: 1rem;
    justify-content: flex-start;
  }

  .sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 6.5rem;
  }

  .sidebar .sidebar-brand-text,
  .sidebar .nav-link span {
    display: none;
  }

  .sidebar .nav-item .nav-link {
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidebar .nav-item {
    display: flex;
    justify-content: center;
  }
}

/* Additional responsive adjustments */
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar .nav-item {
    justify-content: start;
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3b82f6 0%,
    #2563eb 29%,
    #1e40af 67%,
    #93c5fd 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: var(--fsize-800);
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
