.bg-gradient-primary {
    background-color: #EEF0FC;
    /* border: solid transparent; */
  }
  .bg-image {
    background: url("https://source.unsplash.com/800x600/?ecommerce");
    background-position: center;
    background-size: cover;
  }

  form.user .form-control-user {
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
  }
  
  form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google,
  .btn-facebook {
    color: #fff;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    background-color: #ea4335;
    border-color: #fff;
  }
  
  .btn-facebook {
    background-color: #3b5998;
    border-color: #fff;
  }
  
  .btn-google:hover,
  .btn-facebook:hover {
    background-color: #e12717;
    border-color: #e6e6e6;
  }
  
  .btn-google:focus,
  .btn-google.focus,
  .btn-facebook:focus,
  .btn-facebook.focus {
    background-color: #e12717;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }
  
  .btn-google.disabled,
  .btn-google:disabled,
  .btn-facebook.disabled,
  .btn-facebook:disabled {
    background-color: #ea4335;
    border-color: #fff;
  }
  
  .btn-google:not(:disabled):not(.disabled):active,
  .btn-google:not(:disabled):not(.disabled).active,
  .show > .btn-google.dropdown-toggle,
  .btn-facebook:not(:disabled):not(.disabled):active,
  .btn-facebook:not(:disabled):not(.disabled).active,
  .show > .btn-facebook.dropdown-toggle {
    background-color: #d62516;
    border-color: #dfdfdf;
  }
  
  .btn-google:not(:disabled):not(.disabled):active:focus,
  .btn-google:not(:disabled):not(.disabled).active:focus,
  .show > .btn-google.dropdown-toggle:focus,
  .btn-facebook:not(:disabled):not(.disabled):active:focus,
  .btn-facebook:not(:disabled):not(.disabled).active:focus,
  .show > .btn-facebook.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }
  
  .error {
    color: #5a5c69;
    font-size: 1.5rem; /* Reduced font size for better readability */
    position: relative;
    line-height: 1;
    width: 12.5rem;
  }
  
  /* Adjustments for better alignment on small screens */
  /* @media (max-width: 768px) {
    .header .content {
      text-align: center;
    }
  }
   */