<app-second-header></app-second-header>
<app-firestnav></app-firestnav>
<div class="container-fluid px-3 mx-auto">

    <table class="table">
      <thead>
          <tr>
              <th scope="col">image</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
              <th scope="col">Options</th>
          </tr>
      </thead>
      <tbody class="table_body">
          @for (item of cartItems?.items ; track $index) {
          <tr class="product_data">
              <td class="table_img"><img src="/assets/{{item?.images}}" alt=""></td>
              <td class="pt-5">{{ item?.name }}</td>
              <td class="pt-5">${{ item?.price * item?.quantity }}</td>
              <!-- <td class="rating pt-5"><ngb-rating [(rate)]="item.rating" [readonly]="true" [max]="5"></ngb-rating></td> -->
              <td>
                  <div class="Btns d-flex gap-2  justify-content-center">
                      <button type="button" (click)="increase(item)" class="btn btn-success">+</button>
                      <p class="pt-2">{{item?.quantity}}</p>
                      <button type="button" (click)="decrease(item)" class="btn btn-danger">-</button>
                  </div>
              </td>
              <td class="delete pt-5">
                <i (click)="deleteItem(item?.id)" class="fa-solid fa-trash delete-icon"></i>
              </td>
              
          </tr>
        }
          <tr class="total ">
            <td class="py-4" colspan="4">Total Price : ${{ totalPrice }}</td>
            <td>
              <button type="button" class="btn payment_btn" data-bs-toggle="modal" data-bs-target="#paymentModal">Buy Now</button>
          
              <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="paymentModalLabel">Payment Information</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form id="paymentForm">
                                <div class="row">
                                  <div class="mb-3 col-12 form_item">
                                    <label for="card_holder" class="col-form-label d-flex justify-content-start   ">Cardholder's Name:</label>
                                    <input type="text" class="form-control" id="card_holder" name="card_holder" required>
                                </div>
                                <div class="mb-3 col-12 form_item">
                                    <label for="card_number" class="col-form-label d-flex justify-content-start ">Card Number:</label>
                                    <input type="text" class="form-control" id="card_number" name="card_number" required>
                                </div>
                                <div class="mb-3 col-12 form_item">
                                    <label for="expiry" class="col-form-label d-flex justify-content-start ">Expiration Date:</label>
                                    <input type="text" class="form-control" id="expiry" name="expiry" placeholder="MM/YY" required>
                                </div>
                                <div class="mb-3 col-12 form_item">
                                    <label for="cvv" class="col-form-label d-flex justify-content-start ">CVV:</label>
                                    <input type="text" class="form-control" id="cvv" name="cvv" required>
                                </div>    
                                <div class="mb-3 col-12">
                                  <!-- <h2>Total Price : ${{ carttotalPrice }}</h2> -->

                                </div>

                                
                                </div>
               
                                  <!-- Include other payment form fields here -->
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" onclick="submitPayment()">Submit Payment</button>
                          </div>
                      </div>
                  </div>
              </div>
          </td>
          
          
          </tr>
      </tbody>
  </table>
  

<!-- 
@if (cartItems.items.length<1) {

  
    <div class=" sec_page">
      <h1>Ther is no thing in your Cart</h1>

      <span><i class="fa-solid fa-cart-plus"></i></span>
  
    </div>

} -->

      

    
</div>

<app-footer></app-footer>