.big_container {
display: flex;
justify-content: space-between;
overflow-x: auto;
gap: 10px;

}



/* ========================================= */
.active{
  background-color: #7C5ED8;
  color: white;
}

.row{
  display: flex;
  align-items: center;
  /* padding: 20p 0px ; */
  row-gap:30px ;
  text-align: center;
}

/* ==================================== */

.sidebar{
  background-color: #F4F1FF;
  padding: 0px 7px;
  min-width: 6%;  
  margin: 20px 0px;
  border-bottom-right-radius:12px ;
  border-top-right-radius:12px ;

}


.sidebar_data{
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.sidebar_data h3{
  padding: 7px ;
  cursor: pointer;
  transition: .4s ease;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

.sidebar_data h3:hover{
  background-color: #7C5ED8;
  color: white;
}




.sidebar_text{
  display: flex;
  align-items: center;
  gap: 7px;
}



/* ======================================================================== */
.table_container{
overflow-x: auto;
margin:120px 0px ;
}

.table {
  text-align: center;

  flex: 1;
}

.product_data {
  font-size: 16px;
}

.Btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.delete i {
  font-size: 25px;
  cursor: pointer;
}

.rating {
  color: #ffd869;
  font-size: 20px;
}

.table_img img {
  height: 100px;
  object-fit: contain;
}
.total {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

.font{
  font-size: 20px;
  font-weight: 500;
}


.payment_btn {
  background-color: blueviolet;
  color: white;
}

.form_item label {
  font-weight: 400;
  font-size: 20px;
}


.product_data td{
  text-align: center;
}
/* ==================================================== */

.sec_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.sec_page span {
  font-size: 50px;
  color: #ebb9f0;
}
/* ================================================= */

.empty_table{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: auto ;
  flex-direction: column;
  padding:15px;
  gap: 20px;
}

.empty_table h1{

  font-size: 40px;
}

.empty_table h2{

  font-size: 60px;
  color: #7C5ED8;
}

/* ============= */

/* =========media========================================== */

@media (width<900px) {

  .sidebar{
    min-width: 10%;   
  }
  
}