<app-second-header></app-second-header>
<app-firestnav></app-firestnav>
<div class="big_container mx-auto">
  <div class="sidebar">
    <div class="sidebar_data">
      <h3
        [routerLink]="['/profile']"
        routerLinkActive="active"
        class="sidebar_text"
        placement="end"
        ngbTooltip="User informations"
      >
        <i class="fa-solid fa-user"></i>
      </h3>
      <h3
        href="#"
        [routerLink]="['/home']"
        routerLinkActive="active"
        class="sidebar_text"
        placement="end"
        ngbTooltip="Home"
      >
        <i class="fa-solid fa-house"></i>
      </h3>
      <h3
        href="#"
        [routerLink]="['/product']"
        routerLinkActive="active"
        class="sidebar_text"
        placement="end"
        ngbTooltip="All products"
      >
        <i class="fa-brands fa-product-hunt"></i>
      </h3>
      <h3
        href="#"
        [routerLink]="['/user-product']"
        routerLinkActive="active"
        class="sidebar_text"
        placement="end"
        ngbTooltip="User order"
      >
        <i class="fa-solid fa-cart-shopping"></i>
      </h3>
      <h3
        href="#"
        [routerLink]="['/a']"
        routerLinkActive="active"
        class="sidebar_text"
        placement="end"
        ngbTooltip="Wishlist"
      >
        <i class="fa-solid fa-heart"></i>
      </h3>
      <h3
        href="#"
        [routerLink]="['/cart']"
        routerLinkActive="active"
        class="sidebar_text"
        placement="end"
        ngbTooltip="payment"
      >
        <i class="fa-solid fa-credit-card"></i>
      </h3>
    </div>
  </div>

  <!-- ================================================= -->

  <div class="cart_container">
    @if (cartItems?.items?.length > 0) {

    <div class="card table">
      <p-table [value]="cartItems?.items" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr class="product_data table-cart-header">
            <th scope="col">image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
            <th scope="col">Delete</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr class="product_data table-cart-body">
            <!-- <td class="table_img pt-5"><img src="../../../assets/cinthia-becher-z_WgCHcIkrs-unsplash.jpg" alt=""></td> -->
            <td class="table_img pt-5">
              <img
                src="/assets/{{ item?.images }}"
                alt="/assets/{{ item?.images }}"
              />
            </td>
            <td class="pt-5 font">{{ item?.name }}</td>
            <td class="pt-5 font">
              ${{ (item?.price * item?.quantity).toFixed(2) }}
            </td>
            <td>
              <div class="Btns d-flex gap-2 justify-content-center">
                <button
                  type="button"
                  (click)="increase(item)"
                  class="payment_btn"
                >
                  +
                </button>
                <p class="pt-2">{{ item?.quantity }}</p>
                <button
                  type="button"
                  (click)="decrease(item)"
                  class="payment_btn"
                >
                  -
                </button>
              </div>
            </td>

            <td class="delete pt-5 font">
              <i
                (click)="deleteItem(item?.id)"
                class="fa-solid fa-trash delete-icon"
              ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="w-100 d-flex justify-content-center align-items-center gap-5">
      <div class="d-flex gap-2">
        <span class="total-price">Total Price : </span>
        <span class="price">${{ totalPrice }}</span>
      </div>
      <div class="d-flex gap-2 pay">
        <button (click)="showPayModelForm()" class="btn m-auto">BUY Now</button>
        <div class="icon-img">
          <img class="w-100" src="../../../assets/shopping.gif" alt="" />
        </div>
      </div>
    </div>
    <div
      class="modelBackdrop"
      [ngClass]="{
        show: PayModelForm
      }"
    ></div>

    <!-- Payment model -->
    <div class="ng-Modal pay-model" [ngClass]="{ show: PayModelForm }">
      <div class="ng-Modal-header pay-model-header">
        <h1 class="m-0 font2">Shoping Information</h1>
      </div>
      <div class="ng-Modal-body">
        <div class="payment_conatiner">
          <div class="payment_form">
            <h2 class="d-flex justify-content-center">
              Please Enter your data
            </h2>

            <form [formGroup]="userDetails">
              <div class="inputs">
                <label for="name">User Name</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  formControlName="name"
                />
                @if(userDetails.controls['name'].touched &&
                userDetails.controls['name'].invalid){
                <small class="small admin-error mx-3"
                  >*name is requierd least three letters
                </small>
                }
              </div>

              <div class="inputs">
                <label for="email">Email</label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  formControlName="email"
                />
                @if(userDetails.controls['email'].touched &&
                userDetails.controls['email'].invalid){
                <small class="small admin-error mx-3"
                  >*Invalid email format
                </small>
                }
              </div>

              <div class="inputs">
                <label for="address">Address</label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  formControlName="Delivery_address"
                />
                @if(userDetails.controls['Delivery_address'].touched &&
                userDetails.controls['Delivery_address'].invalid){
                <small class="small admin-error mx-3"
                  >*Please provide your location
                </small>
                }
              </div>
            </form>

            <hr />

            <h2 class="m-0 py-3">
              Total Price : ${{ totalPrice!.toFixed(2) }}
            </h2>
          </div>
        </div>
      </div>
      <div class="ng-Modal-footer">
        <div class="d-flex gap-2 justify-content-between py-2">
          <button (click)="payOnline()" class="btn payment_btn">
            Pay online
          </button>
          <button (click)="payCash()" class="btn payment_btn">Pay Cash</button>
          <button class="btn payment_btn" (click)="hidePayModelForm()">
            Close
          </button>
        </div>
      </div>
    </div>
    }@else {

    <div class="empty_table">
      <h1 class="m-0">THER IS NO THING IN THE CART.. !</h1>

      <h2><i class="fa-solid fa-cart-plus"></i></h2>
    </div>

    }
  </div>

  <!-- ================================================= -->
</div>

<!-- ================================================= -->

<app-footer></app-footer>
