<footer dir="ltr">
<div class="row">
    
<div class="col-xxl-5 col-xl-5 col-10">
    <div class="part1">
        <h2>Company Logo</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sint sequi veritatis eum cumque nulla rem facere explicabo at inventore placeat ipsa, repudiandae deleniti! Doloremque omnis ut aliquam eveniet minima?</h4>
    </div>
</div>

<div class="col-xxl-2 col-xl-2 col-10">
    <div class="part2">
        <h4>Customer</h4>
    
        <div class="links1">
            <p><a href="#"></a>Home</p>
            <p><a href="#"></a>Product details</p>
            <p><a href="#"></a>Cart</p>
            <p><a href="#"></a>Checkout</p>
            <p><a href="#"></a>Wishlist</p>
        </div>
    
    </div>
    
</div>

<div class="col-xxl-2 col-xl-2 col-10">
    <div class="part2">
        <h4>Customer</h4>
    
        <div class="links1">
            <p><a href="#"></a>Home</p>
            <p><a href="#"></a>Product details</p>
            <p><a href="#"></a>Cart</p>
            <p><a href="#"></a>Checkout</p>
            <p><a href="#"></a>Wishlist</p>
        </div>
    
    </div>
    
    
</div>

<div class="col-xxl-2 col-xl-2 col-10">
    <div class="part3">
        <h4>Contact Us</h4>
    
        <div class="links2">
            <p><a href="#"></a><i class="pi pi-facebook"></i></p>
            <p><a href="#"></a><i class="pi pi-times"></i></p>
            <p><a href="#"></a><i class="pi pi-envelope"></i></p>
            <p><a href="#"></a><i class="pi pi-instagram"></i> </p>

        </div>
    
    </div>
    
</div>


</div>










</footer>