.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.Btn{
    display: flex;
    justify-content: center;
}

.sign h1{
    border-bottom:solid ;
    padding: 7px 15px ;
    border-radius: 12px ;
    font-weight: 600;
    color: rgb(125, 60, 163);
    
}