<div class="container ">
    <div class="d-flex sign justify-content-center">
        <h1 class="">Sign up</h1>

    </div>
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-7 position-relative">
      <label for="validationTooltip01" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="validationTooltip01"
        value=""
        name=""
        required
      />
    </div>

    <div class="col-7 position-relative">
      <label for="validationTooltip02" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        value=""
        name=""
        required
      />
    </div>

    <div class="col-7 position-relative">
      <label for="validationTooltipUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="validationTooltipUsernamePrepend"
          >&#64;</span
        >
        <input
          type="text"
          class="form-control"
          id="validationTooltipUsername"
          aria-describedby="validationTooltipUsernamePrepend"
          required
        />
      </div>
    </div>

    <div class="col-7 position-relative">
      <label for="validationTooltip01" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="validationTooltip01"
        value=""
        name=""
        required
      />
    </div>

    <div class="col-7 position-relative">
      <label for="validationTooltip01" class="form-label"
        >Repeat Password</label
      >
      <input
        type="password"
        class="form-control"
        id="validationTooltip01"
        value=""
        name=""
        required
      />
    </div>

    <div class="col-7 position-relative">
      <label for="validationTooltip01" class="form-label">User Img</label>
      <input
        type="text"
        class="form-control"
        id="validationTooltip01"
        value=""
        name=""
        required
      />
    </div>

    <div class="col-7 Btn ">
      <button class="btn  btn-primary w-50" type="submit">Submit</button>
    </div>
  </form>
</div>
