<app-firestnav></app-firestnav>
<app-second-header></app-second-header>

<div class="container">
    <div class="wishlist">

      
        <!-- <div class="card table">
          <p-table [value]="CartService.getproduct()" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
              <tr class="product_data">
                <th scope="col">image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
                <th scope="col">Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr class="product_data">
                <td class="table_img pt-5"><img src="../../../assets/cinthia-becher-z_WgCHcIkrs-unsplash.jpg" alt=""></td>
                <td class="table_img pt-5"><img src="/assets/{{ item?.images['0']}}" alt="/assets/{{ item?.images['0']}}"></td>
                <td class="pt-5 font">{{ item?.name }}</td>
                <td class="pt-5 font">
                  ${{ (item?.price * item?.quantity).toFixed(2) }}
                </td>

                <td class="delete pt-5 font">
                  <i (click)="deleteItem(item?.id)" class="fa-solid fa-trash delete-icon"></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
    
      
      
        </div> -->

      </div>

      
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Product</th>
          <th scope="col">product_name</th>
          <th scope="col">product_price</th>
          <th scope="col">count</th>
          <th scope="col">Option</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
          @for (item of CartService.getproduct(); track $index) {
              <tr>
                <th scope="row">{{item.id}}</th>
                <!-- <td><img class="w-md-75 w-sm-100 w-xxl-25 w-xl-75" [src]="item.images[0]" alt=""></td> -->
                <td>{{item.name}}</td>
                <!-- <td>{{item.price * item.quantity}}</td> -->
                <td>{{item.quantity}}</td>
                <td>
                  <div class="d-flex gap-4 options">
                    <!-- <button type="button" (click)="CartService.incrementQuantity(item.id)" class="btn btn-outline-success">+</button> -->
                    <h5>{{item.quantity}}</h5>
                    <!-- <button type="button" (click)="CartService.decrementQuantity(item.id)" class="btn btn-outline-danger">-</button> -->

                  </div>

                </td>


                <td>
                  <!-- <button type="button" (click)="delete(item)" class="btn btn-danger">Delete</button> -->

                </td>

              </tr>
          }
      </tbody>
    </table>
        

</div>


<app-footer></app-footer>