<div class="row navbar_bigcontainer">
  <div dir="ltr" class="col-12 firest_nav">


    <div class="row ">

      <div class="Companyandsearch col-6 col-xxl-4 ">
        <h4 class="m-0 ">Company Logo</h4>

        <div class="search w-50">
          <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-spinner pi-spin" />
            <input  pInputText placeholder="Search" class="py-2 px-3 w-100" type="text" pInputText />
        </p-iconField>
        </div>


      </div>



          
      <div class="col-6  three">
        <div class="user_options">
          <div class="faverot">
            <i class="pi pi-heart"></i>
          </div>
    
          <div class="payment">
            <i class="pi pi-shopping-cart"></i>
          </div>
          
          <div class="user_img">
            
            <img data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" src="../../assets/icon-256x256-removebg-preview.png" alt="" />
    
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasExampleLabel">User Options</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
    
                <div class="nav_btns px-2">
    
                  <button type="button" (click)="redirect()" class="btn  btn-outline-info w-100 ">Profile <i class="pi pi-user"></i>              </button>
                  <button type="button" (click)="redirect2()" class="btn  btn-outline-secondary w-100 "> invoice <i class="pi pi-file"></i></button>
                  <button type="button" (click)="redirect3()" class="btn  btn-outline-danger w-100 ">Sign out <i class="pi pi-sign-out"></i></button>
                  <button (click)="redirect5()" type="button" class="btn btn-outline-success px-3 py-2">Register</button>
                  <button (click)="redirect6()" type="button" class="btn btn-outline-secondary px-3 py-2">Log in</button>
          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </div>

  <div class="col-12 ">
    <div dir="ltr" class="row  sec_nav justify-content-xxl-start gap-xxl-2 justify-content-md-start gap-md-4  ">


      <div class="col-6 col-xxl-2 col-md-2  one">
    
        
        <div>

          <button class="btn category_btn d-flex gap-2 px-4 py-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><span><i class="fa-solid fa-bars"></i></span> Category </button>

    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Category </h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">


        @for (item of categories; track $index) {

          <div class="btn-group dropend w-50">
            <button type="button" class="btn btn-secondary dropdown-toggle d-flex w-25  " data-bs-toggle="dropdown" aria-expanded="false">
                <p class="item m-0">{{ item }}</p>
            </button>
            <ul class="dropdown-menu">
              @for (product of products; track $index) {
                @if (selectedCategory === null || product.category === selectedCategory) {

                  <li><a class="dropdown-item" href="#">{{ product.brand }}</a></li>

                }


              }
            </ul>
          </div>


        }



      </div>



    </div>
        </div>
    
    
    
      </div>
    
      <div   class="col-6 col-xxl-9 col-md-9 two">
        <nav class="navbar navbar_container navbar-expand-lg bg-body-tertiary">
          <div  class="container-fluid ">
    
            <button class="navbar-toggler p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
    
            <div class="collapse navbar-collapse nav_links" id="navbarSupportedContent">
              <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
    
                <div class="d-flex navbar_data  gap-3  ">

                  <li class="nav-item">
                    <a class="nav-link"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active_link" routerLink="home">Home</a>
                </li>

                  <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active_link" routerLink="product">product</a>
                </li>
            
                <li class="nav-item">
                  <a class="nav-link"  routerLink="">product</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"  routerLink="">product</a>
            </li>


            <li class="nav-item">
              <a class="nav-link"  routerLink="">product</a>
          </li>
      

                </div>
              </ul>
      
            </div>
    
    
    
          </div>
        </nav>
      </div>

    </div>
  </div>



</div>

