/* General Styles */
.wrapper {
  display: flex;
}

/* Dashboard Styles */
.dash {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* Box Styles */
.box {
  width: 200px;
  min-height: 150px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Icon Styles */
.box i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #333;
}

/* Text Styles */
h2,
p {
  margin: 0;
  color: #333;
}

h2 {
  font-size: 18px;
}

p {
  margin-top: 5px;
  font-size: 16px;
  color: #666;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Specific Box Backgrounds */
.users,
.products,
.orders,
.earnings {
  background-color: #e1bee7; /* Unified color for consistency */
}

.most-selling {
  background: linear-gradient(to right, #da8cff, #9a55ff);
  width: 90%;
  margin: 55px;
}

/* Todo List Styles */
.todo-list {
  background-color: #fdf4ff;
  margin-left: 3em;
}

.todo-input {
  width: calc(100% - 60px);
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-btn {
  padding: 10px 20px;
  background: linear-gradient(to right, #da8cff, #9a55ff);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* background: linear-gradient(to right, #cbaacb 0%, #e6e6fa 100%); */
}

.add-btn:hover {
  opacity: 0.7;
}

.tasks {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.tasks li {
  border-bottom: solid #a39da3 0.5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  font-size: 1.2em;
}

.tasks li.completed {
  text-decoration: line-through;
  color: #999;
}

.tasks input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #86198f;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.tasks li input[type="checkbox"]:checked {
  background: linear-gradient(to right, #da8cff, #9a55ff);
}

.tasks li input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 16px;
  color: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
}

.delete-icon {
  color: #1e40af;
  cursor: pointer;
}
/* //////////////////////// */
.dashboar-cards {
  margin-inline: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.card {
  flex: 0 1 calc(25% - 1rem);
  border-radius: 20px;
  background-color: #21d4fd;
  background-image: linear-gradient(to top, #00b4db, #0083b0);
  padding: 20px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin-bottom: 1.4em;
  transition: background-color 0.3s ease;
}

.bubble {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: 15px;
}

.bubble::after {
  content: "";
  width: 140px;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 30px;
}

.content {
  z-index: 1;
}

.content h2,
.content p {
  color: #ffffff;
}

iframe {
  border: none;
  width: 600px;
  height: 500px;
}

@media (max-width: 992px) {
  /* Adjusting for medium devices like tablets */
  .card {
    flex: 0 1 calc(33.333% - 1rem); /* 3 cards per row */
  }
}

@media (max-width: 768px) {
  /* Adjusting for small devices like phones */
  .card {
    flex: 0 1 calc(50% - 1rem); /* 2 cards per row */
  }
}

@media (max-width: 576px) {
  /* Adjusting for extra small devices */
  .card {
    flex: 0 1 100%; /* 1 card per row */
  }
}
