<div class="cont">

    <div class="login">
        <h1 class="user">User Login</h1>

        <div class="login_data">
            <div class="userdata">
                <div class="userinput">
                    <input type="text" placeholder="User Name">
                    <i class="pi pi-user"></i>
                </div>

                <div class="userinput">
                    <input type="password" placeholder="Password">
                    <i class="pi pi-lock"></i>
                </div>
            </div>
        </div>
    </div>

</div>
