*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
  background-color: #d8d2ec;

    color: black;
}


.row{
    padding: 15px  ;
    justify-content: space-between;
    width: 100%;
    gap: 15px ;

}

.part2{
    display: flex;
    flex-direction: column;
    padding: 7px 0px;
}

.part2 .links1{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px 0px;
}

.part2 .links1 p:hover{
    color: #7C5CD3;
    cursor: pointer;
}



.links2{
    display: flex;
    gap: 20px ;
    padding: 20px 0px;
}

.links2 p{
    /* border: solid; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* .links2 p:nth-child(1),.links2 p:nth-child(2),.links2 p:nth-child(3),.links2 p:nth-child(4) {
    transition: .5s;
    cursor: pointer;
}

.links2 p:nth-child(1):hover{
    background-color: #2E51E6;
    color: white;
}

.links2 p:nth-child(2):hover{
    background-color: black;
    color: white;
}

.links2 p:nth-child(3):hover{
    background-color: #E6366C;
    color: white;
}

.links2 p:nth-child(4):hover{
    background-color: #d61f1f;
    color: white;
} */


.links2 p i {
    transition: color 0.5s, background-color 0.5s;
  }
  
  .links2 p:nth-child(1)  {
    animation: iconHighlight1 2s infinite;
  }
  
  .links2 p:nth-child(2)  {
    animation: iconHighlight2 2s 0.5s infinite;
  }
  
  .links2 p:nth-child(3)  {
    animation: iconHighlight3 2s 1s infinite;
  }
  
  .links2 p:nth-child(4)  {
    animation: iconHighlight4 2s 1.5s infinite;
  }
  
  .links2 p i {
    color: white;
    font-size: 20px;
  }
  .links2 p {
    /* border: solid 1px black; */
    padding: 15px ;
  }
  
  @keyframes iconHighlight1 {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: #2E51E6;
    
    }
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes iconHighlight2 {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: black;
    }
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes iconHighlight3 {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: #E6366C;
    }
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes iconHighlight4 {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: #d61f1f;
    }
    100% {
      background-color: transparent;
    }
  }
  