.wrapper {
  display: flex;
  height: 100vh;
}
.h3 {
  color: rgb(118, 118, 235);
}

.card {
  border: none;
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.btn-sm {
  padding: 6px 12px;
  font-size: 0.875rem;
}

/* Action buttons style */

.btn i {
  margin-right: 0.1rem;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.delete-product {
  color: red;
}

.edit-product {
  color: blue;
}

.order-status {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1b4b;
}
.status-pending {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.status-confirmed {
  background-color: #2dd4bf;
}
.status-dispatched {
  background-color: #818cf8;
  color: #eef2ff;
}
.status-delivered {
  background-color: #0000ff;
  color: #eef2ff;
}
