<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="body w-100">
    <app-navbar class="w-100"></app-navbar>
    <div class="container-fluid">
      <h1 class="h3 my-4 text-gray-800">Orders</h1>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h3 class="m-0 font-weight-bold text-primary">Orders Tables</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>ORDERID</th>
                  <th>COUSTOMER</th>
                  <th>TOTAL</th>
                  <th>DATE</th>
                  <th>TYPE</th>
                  <th>STATUS</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Caesar Vance</td>
                  <td>Pre-Sales Support</td>
                  <td>New York</td>
                  <td>21</td>
                  <td>2011/12/12</td>
                  <td>2011/12/12</td>
                </tr>
                <tr>
                  <td>Doris Wilder</td>
                  <td>Sales Assistant</td>
                  <td>Sidney</td>
                  <td>23</td>
                  <td>2010/09/20</td>
                  <td>2011/12/12</td>
                </tr>

                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
