<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="body w-100">
    <app-navbar class="w-100"></app-navbar>
    <div class="container-fluid">
      <h1 class="h3 my-4 text-gray-800">Orders</h1>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h3 class="m-0 font-weight-bold text-primary">Orders Tables</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>ORDERID</th>
                  <th>ADDRESS</th>
                  <th>TOTAL</th>
                  <th>TYPE</th>
                  <th>STATUS</th>
                </tr>
              </thead>

              <tbody>
                @for(order of orders; track order._id){

                <tr>
                  <td>
                    <a routerLink="/admin/order-details/{{ order!._id }}">{{
                      order!._id
                    }}</a>
                  </td>
                  <td>{{ order!.Delivery_address }}</td>
                  <td>${{ order!.totalPrice }}</td>
                  <td>{{ order!.type_of_payment }}</td>
                  <td>{{ order!.order_status }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
