<app-second-header></app-second-header>
<app-firestnav></app-firestnav>

<div class="container-fluid big_container py-2 px-4">
  <div class="row product_details_container ">
    <h3 class="m-0 title">Title</h3>
    <hr>
    <div class="col-xxl-6 col-xl-5 my-5 col-10 gallary">

      <div class="row gallary_container py-4">
        <div class="col-12 main_img">
          <img class="" src="/assets/{{ main_img }}" alt="ss" />
        </div>

        <div class="col-12 gallary_images p-2 d-flex gap-3">
          @for (item of product_details?.images; track $index) {

          <div class="img1">
            <img [class]="item" src="/assets/{{ item }}" [alt]="item" (click)="reternsrc(item)" />
          </div>

          }
        </div>
      </div>


    </div>

    <div class="col-xxl-5 col-xl-5 col-10 product_details">
      <div class="card text-bg-dark">
        <div class="card-body py-3">
          <h1>{{ product_details?.name }}</h1>
          <h1>{{ product_details?.name }}</h1>
          <h1>{{ product_details?.name }}</h1>
        </div>



        <div class="Btns d-flex gap-5">
          <button type="button" (click)="addToCart(product_details?._id)"
            class="btn py-1 px-4 carusel_bt btn-secondary">
            Buy Now
          </button>
          <button type="button" class="btn py-1 px-3 btn-danger">
            Back to home
          </button>
        </div>
      </div>
    </div>


  </div>

  <div class="w-100 my-3 product_descusion">

    <div class="card2">
      <nav>
        <div class="nav nav-tabs py-1" id="nav-tab" role="tablist">
          <button class="nav-link active btn1" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
          <button class="nav-link btn1" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ratings & reviews</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">


        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
          tabindex="0">
          <div class="row d-flex gap-5">
            <div class="col-12 ">
              <h1>Product descriptions</h1>
              {{ product_details?.description }}
              <p class="w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt id ut
                inventore assumenda mollitia vel nisi dignissimos dolor beatae dolorem velit distinctio, cupiditate nam
                consequatur rem, ipsum rerum unde?</p>
            </div>

            <div class="col-12">
              <h1 style="font-weight: 500">Other User review</h1>

              <div class="review_container w-75">
                <div class="user_review">

                  <div class="user_comment">
                    <img src="../../../assets/icon-256x256-removebg-preview.png" alt="">
                    <h4>User name</h4>

                  </div>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>

                <div class="user_review">

                  <div class="user_comment">
                    <img src="../../../assets/icon-256x256-removebg-preview.png" alt="">
                    <h4>User name</h4>

                  </div>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>


                <div class="user_review">

                  <div class="user_comment">
                    <img src="../../../assets/icon-256x256-removebg-preview.png" alt="">
                    <h4>User name</h4>

                  </div>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>


                <div class="user_review">

                  <div class="user_comment">
                    <img src="../../../assets/icon-256x256-removebg-preview.png" alt="">
                    <h4>User name</h4>

                  </div>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>


                <div class="user_review">

                  <div class="user_comment">
                    <img src="../../../assets/icon-256x256-removebg-preview.png" alt="">
                    <h4>User name</h4>

                  </div>

                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam illo doloremque ullam deleniti officia accusantium
                    in ratione. Veniam, soluta earum.
                  </p>
                </div>


              </div>
            </div>
          </div>

        </div>





        <!-- ============================================================================================================================================ -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div class="row rating_bigcontainer">

            <div class="big_container_rate">
              <div class="product_rating">
                <!-- <h1 class="product_rate">{{ product_details.rating}}</h1> -->
                <h3>Overall Rating</h3>

                <!-- <div class="rate_product">
                  <ngb-rating
                    [readonly]="true"
                    [(rate)]="product_details.rating"
                    [max]="5"
                  ></ngb-rating>
                  <h4 class="m-0 rate">{{ product_details.rating }}</h4>
                </div> -->

              </div>



              <div class="progress_bar">


                <h3>5 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-warning text-dark" style="width: 100%;">100%</div>
                </div>


                <h3>4 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                </div>



                <h3>3 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100">

                  <div class="progress-bar bg-warning text-dark" style="width: 50%">50%</div>
                </div>


                <h3>2 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100">

                  <div class="progress-bar bg-warning text-dark" style="width: 25%">25%</div>
                </div>


                <h3>1 star</h3>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="10"
                  aria-valuemin="0" aria-valuemax="100">

                  <div class="progress-bar bg-warning text-dark" style="width: 10%">10%</div>
                </div>

              </div>
            </div>

            <div class="sign_rate">
              <h1 class="my-3 thefirestreview">Be the first to review</h1>

              <form class="register_rate" [formGroup]="rating_coommint" (ngSubmit)="submithandel()" method="post">



                <div class="mb-1">
                  <h2>Your rating *</h2>
                  <ngb-rating class="register_rateing" [max]="5"  formControlName="rate"></ngb-rating>
                </div>



                <div class="input-group">
                  <span class="input-group-text">Leve your comment</span>
                  <textarea class="form-control" formControlName="comment" aria-label="With textarea"></textarea>
                </div>



                <button class="btn btn-primary p-2 w-100">
                  Register Now
                </button>



              </form>
            </div>


          </div>



        </div>


        <!-- =======================end======================================================================================================================== -->
      </div>


    </div>



  </div>
</div>

<app-footer></app-footer>