.main_container {
  background-color: var(--background-color);
  border: solid transparent;
  padding-block: 3rem;
}
.map-container {
  width: 50%;
  margin-bottom: 2em;
}

.contact-form {
  width: 50%;
  background-color: var(--text-color);
  border-radius: 5px;
  padding: 2em;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--accent-color);
  font-size: 1.1em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 150px;
}

.form-group button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #fbbf24;
}
