<app-second-header></app-second-header>
<app-firestnav></app-firestnav>

<div class="main_container">
    <div class="container">
    
    
        <h1>Contact Us</h1>
        <p>Have a question or want to get in touch? Fill out the form below.</p>
        
        <div class="contact-form">
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Send Message</button>
                </div>
    
                        <!-- Add the map -->
            </form>
        </div>
    </div>

</div>

<app-footer></app-footer>