.active_link {
  color: #f59e0b;
  border-bottom: solid 2px #fbbf24;
}

.second_nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fef3c7;
}

.sec_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links .navbar-nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  gap: 10px;
  padding: 10px 0px;
}

.one {
  display: flex;
  align-items: center;
  justify-content: start;
}

.two .navbar_container {
  background-color: #fef3c7 !important;
  display: flex;
}

.navbar_container .container-fluid {
  display: flex;
  justify-content: end;
}
.navbar-toggler {
  border-radius: 50%;
}

.navbar_data {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.navbar_data li a:hover {
  color: #f59e0b;
}

.offcanvas-body {
  display: flex;
}

.dropend {
  margin: 20px 0px;
  display: flex;
}

.dropend button {
  padding: 7px 14px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.category_btn {
  background-color: #fffbeb;
  color: #f59e0b;
  font-weight: 500;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  border: solid 1px;
  /* padding: 0.5em 0.5; */
}
.category_btn:hover {
  background-color: #f59e0b;
  color: #f4f2fb;
}

/* ============================== */

/* ================================ */

@media (width<1000px) {
  .navbar_data {
    direction: rtl;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (width<600px) {
  .navbar_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
  }
}
